*, body {
	max-width: 1000px;
}



.slider {
  margin-bottom: -10px;
}

.slider img {
	height: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
  width: 100%;
}

.news-icon {
	height: 64px;
	width: 64px;
}

.content-padded {
  margin: 20px 15px 15px;
}

.newsletter-text {
	margin-top: -20px;
}

.pic {
	height: 64px;
	width: auto;
}

.error {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	visibility: hidden;
}
